body
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background-color: #282828;
}

.calculator
{
    height: 700px;
    width: 400px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    background-color: #575757;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.display
{
    width: 375px;
    height: 70px;
    background-color: lightgrey;
    color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 55px;
    font-weight: 500;
    color: black;
}

.main
{
    display: flex;
    width: 350px;
    height: 430px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button
{
    height: 70px;
    width: 75px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    margin: 0px;
    font-size: 40px;
    margin: 5px;
}

.enter-container
{
    width: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.enter
{
    border-radius: 10px;
    width: 120px;
    height: 60px;
}
