body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background-color: #282828;
}

h1
{
    color: azure;
    font-size: 75px;
    margin: 25px;
}


.calculator
{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    background-color: #575757;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.display
{
    width: 400px;
    height: 80px;
    background-color: lightgrey;
    color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 55px;
    font-weight: 500;
    color: black;
    overflow: hidden;
    margin-bottom: 10px;
}

.main
{
    display: flex;
    width: 400px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button
{
    width: 90px;
    height: 60px;
   font-size: 45px;
   border-style: solid;
   border-width: 2px;
   border-radius: 15px;
   border-color: black;
   margin: 3px;
}

.enter-container
{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.enter
{
    border-radius: 15px;
    width: 120px;
    margin: 10px;
}

.operand
{
    background-color: rgb(62, 238, 229);
}

.special-btn
{
    background-color: rgb(101, 224, 107);
}

.operator
{
    background-color: rgb(245, 85, 85);
}

.operation-btn
{
    background-color: rgb(245, 185, 75);
}

.enter
{
    background-color: rgb(63, 165, 224);
}
